@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/* GLOBAL RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif; /* The Premium Font */
  background-color: #FAFAFA; /* Light Grey Background */
  color: #101828;
  -webkit-font-smoothing: antialiased;
}

button, input, select {
  font-family: 'Outfit', sans-serif;
}